<head>
  {% seo %}

  <meta name="google-site-verification" content="dHa3VXZDpeLC49m1MUFp5I-DtVhW4hunos7CRJoF2eQ" />

  <!-- Android Lolipop Theme Color -->
  <meta name="theme-color" content="{{ site.lolipop-theme-color }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{"/assets/img/icons/favicon.png" | relative_url }}" />
  <link rel="shortcut icon" type="image/png" href="{{"/assets/img/icons/favicon.png" | relative_url }}" />

  <!-- Pace Style -->
  <script src="{{"/assets/vendor/pace-js/pace.min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="{{"/assets/vendor/pace-js/themes/green/pace-theme-minimal.css" | relative_url }}" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700" rel="stylesheet" type="text/css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" />

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{"/assets/css/custom.min.css" | relative_url }}" />

</head>
