/* Add here all your css styles (customizations) */

body {
  padding-top: 5rem;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  line-height: 1.6;
  color: #555;
}

.starter-template {
  padding: 4.7rem 1.5rem;
  text-align: center;
}

.starter-template h1 {
  font-size: 60px;
  font-weight: 400;
}
.starter-template p.lead span {
  color: #22df80;
}

.btn-outline-success {
  padding: 10px 50px 10px 50px;
  font-size: 12px;
  color: #22df80;
  border-color: #22df80;
  background-color: transparent;
}

.btn-outline-success:hover {
  color: #ffffff;
  background-color: #22df80;
  border-color: #22df80;
}


.progress {
  height: 25px;
}
.url {
  color: red;
}

#progress_bar {
  background-color: #22df80;
  width: 0px;
  height: 25px;
}
